    <h1>最新記事</h1>
    <hr>
    <h3>テスト</h3>
        <% @posts.each do |p| %>
            <p><a href="/posts/<%= p.id %>"><%= p.id %>:<%= p.title %></p></a>
            <p><%= p.content %></p>
        <% end %>
    <hr>
    <a href="/posts/new" class="btn-gradient-3d">新しく投稿する</a>