// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.challenged{
    font-size: 30px;
    border: 1px solid tomato;
    background: tomato;
    width: 200px;
    border-radius: 5px;
    text-align: center;
}