// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-30{
    width: 30px;
    height: 30px;
    border-radius: 30%;
}

.item{
    height: 300px;
}
.item img{
    width: 100%;
}
.img-100{
    width: 100px;
    height: 100px;
}
.img-300{
    width: 300px;
    height: 300px;
}

.img-400{
    width: 400px;
}

.btn-gradient-3d {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  
}

.btn-gradient-3d:hover {
    background: #00bcd4;
    color: white;
}